RAILS

<div class="container logoposition">
	<div class="">
		<span class="logo">yes<span class="oj">!</span>chef</span>
		<br>
		<a class="btn-signin" ui-sref="allrecipes">Enter</a>
	</div>
</div>


<%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-fb"%>
