@import url("//fonts.googleapis.com/css?family=Ubuntu|Chelsea+Market");

$green: #8DE86B;
$blue: #4A90E2;
$dkGrey: #4A4A4A;
$oj: #F5A623;
$white: #FFFFFF;

$font-main: 'Ubuntu', sans-serif;
$font-logo: 'Chelsea Market', cursive;

// color class for ! in landing page logo
.oj {
	color: $oj;
}

// default settings
body {
	background: $white;
	color: black;
	font-family: $font-main;
}
.cursor {
	cursor: pointer;
}

.link-margin {
	margin-left: 15px;
}

.hr {
	margin-top: 10px;
}

.foodimage1 {
	background-image: url("food1.jpg")
}
/******** nganimate for recipe index ************/
.repeater.ng-enter {
	-webkit-transition: 0.2s linear all;
	transition: 0.2s linear all;

	opacity: 0;
	-webkit-transform:scale(1.15);
	transform:scale(1.15);
}

.repeater.ng-enter.ng-enter-active  {
	opacity: 1;
	-webkit-transform:scale(1);
	transform:scale(1);
}

.repeater.ng-leave {
	-webkit-transition:0.1s linear all;
	transition:0.1s linear all;

	opacity: 1;
}

.repeater.ng-leave.ng-leave-active {
	opacity: 0;
}


.repeater.ng-enter-stagger,
.repeater.ng-leave-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;

	-webkit-transition-duration: 0;
	transition-duration: 0;
}


/********** Landing Page **********/
.logo {
	color: $green;
	font-size: 100px;
	// font-weight: bold;
	font-family: $font-logo;
}
.logoposition {
	text-align: center;
	margin-top: 200px;
}
.logo-sm {
	color: $green;
	font-size: 36px;
	font-family: $font-logo;
	margin-left: 0px;
}
.btn-signin {
	background: transparent;
	border-radius: 2px;
	color: $blue;
	font-size: 30px;
	padding: 10px 15px;
	border: 1px solid $blue;
	outline: none;
	text-decoration: none;
	&:hover {
		background-color: $blue;
		color: $white;
		outline: none;
		transition: background-color 0.3s ease-out, 
		border-color 0.3s ease-in;
		cursor: pointer;
		text-decoration: none
	}
}

/********** Recipe index **********/
.title {
	font-size: 36px;
}
.hover-text {
	opacity: 0;
}
.recipe-container {
	width: 90%;
	margin: auto;
}
.recipe-card {
	background-color: white;
	height: 300px;
	font-size: 14px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	margin-bottom: 10px;
	position: relative;
	&:hover {
		background-color: rgba(0,0,0,.1);
		cursor: pointer;
		&:hover .hover-text {
			opacity: 1;
		}
	}
}

























