<div class="container-fluid">
	<nav class="">
		<!-- <i class="fa fa-bars fa-3x oj" ng-click="isCollapsed = !isCollapsed"></i> -->
		<span class="green logo-sm">yes<span class="oj">!</span class="green">chef</span>
		
			<a ui-sref="allrecipes" class="link-margin"><i class="fa fa-home fa-3x icon-color1"></i></a>
			<a ui-sref="new" class="link-margin"><i class="fa fa-plus-circle fa-3x icon-color1"></i></a>
		</span>
		<hr class="hr-override-blue">
	</nav>
</div>

<ui-view></ui-view>