<h1> new recipe page </h1>

  <form>
    Recipe Name: <input type="text" ng-model="recipe.name" placeholder="name"><br> 
    Serving Size: <input type="text" ng-model="recipe.size"><br>
	Ingredient: <input type="text" ng-model="recipe.ingredient"><br>
	Direction: <input type="text" ng-model="recipe.direction"><br>
	Image URL: <input type="text" ng-model="recipe.image"><br>
    <button ng-click="createRecipe(recipe)">Create</button>
  </form>

<!-- 	Image: <input type="file" nv-file-select uploader="uploader"><br>-->	
