
<!-- {{vm.num}} -->

<div ng-controller="recipesController">
	<h1> Recipes </h1>
	<div ng-repeat="recipe in recipes">
	
<!-- 	<div ng-model="recipe.name">Recipe Name: {{recipe.name}}</div><br>
	<div ng-model="recipe.name">Serving Size: {{recipe.size}}</div><br>
	<div ng-model="recipe.name">Ingredient: {{recipe.ingredient}}</div><br>
	<div ng-model="recipe.name">Direction: {{recipe.direction}}</div><br> -->
	<!-- <button class="btn-signin" ng-click="destroyRecipe(recipe, $index)">delete</button>
	<hr> -->

	Recipe Name: {{ recipe.name }} <br>
	Serving Size: {{ recipe.size }} <br>
	Ingredient: {{ recipe.ingredient }} <br>
	Direction: {{ recipe.direction }} <br>
	<a ui-sref="showrecipe({id: recipe.id})">details</a>
	<hr>


</div>