<!DOCTYPE html>
<html>
<head>
  <title>yes!chef</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="yeschefApp">

<%= yield %>
 <%= javascript_include_tag 'application' %>

</body>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.6/angular-animate.js"></script>

</html>
